*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0b162b;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#0e1a35;
}

.logo{
font-size:22px;
font-weight:600;
}

.logo span{
color:#8b5cf6;
}

.navbar ul{
display:flex;
gap:25px;
list-style:none;
}

.navbar a{
text-decoration:none;
color:#ccc;
}

.navbar a:hover{
color:#8b5cf6;
}

/* CONTACT SECTION */

.contact{
padding:100px 120px;
}

.title{
text-align:center;
font-size:42px;
margin-bottom:10px;

background:linear-gradient(90deg,#60a5fa,#a855f7);
-webkit-background-clip:text;
background-clip:text;
color:transparent;
}

.subtitle{
text-align:center;
color:#aaa;
margin-bottom:60px;
}

.contact-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

/* FORM */

.contact-form{
background:#14233f;
padding:30px;
border-radius:15px;
display:flex;
flex-direction:column;
gap:15px;
}

.contact-form input,
.contact-form textarea{
padding:12px;
border-radius:8px;
border:none;
background:#1e2a47;
color:white;
}

.contact-form button{
margin-top:10px;
background:linear-gradient(90deg,#3b82f6,#8b5cf6);
border:none;
padding:14px;
border-radius:8px;
color:white;
font-size:16px;
cursor:pointer;
}

/* CONTACT INFO */

.contact-info{
background:#14233f;
padding:30px;
border-radius:15px;
}

.contact-info h3{
margin-bottom:20px;
color:#60a5fa;
}

.contact-info p{
margin:15px 0;
color:#ccc;
}

.contact-info a{
color:#8b5cf6;
text-decoration:none;
}