*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0b162b;
color:white;
padding-top:100px;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#0e1a35;

position:fixed;
top:0;
left:0;
width:100%;

z-index:1000;
}

.logo{
font-size:22px;
font-weight:600;
}

.logo span{
color:#8b5cf6;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar ul li a{
text-decoration:none;
color:#ccc;
font-size:16px;
transition:0.3s;
}

.navbar ul li a:hover{
color:#8b5cf6;
}


/* TITLE */

.title{
text-align:center;
font-size:50px;
margin-top:20px;
background:linear-gradient(90deg,#60a5fa,#a855f7);
-webkit-background-clip:text;
background-clip:text;
color:transparent;
}

.subtitle{
text-align:center;
margin-top:10px;
color:#aaa;
}


/* GRID */

.skills-grid{
max-width:1100px;
margin:auto;
margin-top:60px;

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}


/* CARD */

.skill-card{
background:#14233f;
padding:25px;
border-radius:12px;
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-6px);
box-shadow:0 0 20px rgba(100,100,255,0.3);
}


/* HEADER */

.skill-header{
display:flex;
align-items:center;
gap:15px;
}

.skill-header img{
width:45px;
}

.percent{
color:#9aa6ff;
font-size:14px;
opacity:0;
transition:0.3s;
}


/* SHOW PERCENT ON HOVER */

.skill-card:hover .percent{
opacity:1;
}


/* PROGRESS BAR */

.progress-bar{
margin-top:15px;
height:8px;
background:#263451;
border-radius:20px;
overflow:hidden;
}

.progress{
height:100%;
background:linear-gradient(90deg,#3b82f6,#8b5cf6);
width:0;
transition:1s;
}


/* FILL BAR ON HOVER */

.skill-card:hover .progress{
width:var(--progress);
}